@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    padding-top: 10px;
    margin: auto;
    font-family: Lato;
    background: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin-bottom: 5px;
}

header button {
    width: 70px;
    height: 30px;
    border: none;
    background: #007bff;
    color: #f8f9fa;
    border-radius: 4px;
    font-family: Lato;
}

.section-1,
.section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 380px;
    background-image: url("images/bg-masthead.jpg");
    background-size: cover;
    background-position: center;
}

.section-1 h1 {
    width: 550px;
    text-align: center;
    color: #f8f9fa;
    font-size: 2em;
    margin-bottom: 30px;
}

.section-1 div input,
.section-5 div input {
    width: 310px;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.section-1 div button,
.section-5 div button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: #f8f9fa;
    font-family: Lato;
}

.section-2 {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 70px;
}

.section-2 div {
    width: 25%;
    line-height: 1.5;
}

.section-2 img {
    width: 40px;
    margin-bottom: 5px;
}

.section-2 div p {
    font-weight:300;
    font-size: small;
    margin-top: 5px;
}


.section-3 div {
    display: flex;
    flex-direction: row-reverse;
    background: white;
}

.section-3 div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

.section-3 div span {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: left;
    font-weight:300;
    font-size: small;
    line-height: 1.5;
    padding: 0 80px;
}

.section-3 div span h2{
    font-size:x-large;
    margin-bottom: 5px;
}

.section-3 img{
    width: 50%;
}

.section-4 {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.section-4 div {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.section-4 div span{
    max-width: 240px;
    line-height: 1.7;
    padding: 0 20px;
}

.section-4 div span p{
    font-weight:300;
    font-size: 12px;
}

.section-4 img {
    width: 135px;
    border-radius: 50%;
}

.section-5 {
    height: 200px;
}

.section-5 h2 {
    color: #f8f9fa;
    font-size: 1.5em;
    margin-bottom: 15px;
}

footer {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

footer div span{
    display: flex;
    align-items: center;
}

footer div span:nth-of-type(1) p{
    color: #007bff;
    font-size: x-small;
    padding: 0 5px
}

footer div span:nth-of-type(2){
    color: grey;
    font-size: xx-small;
    margin-top: 5px;
    padding: 0 5px
}

footer div span:nth-of-type(2) p{
    margin-left: 5px;
}

footer div a {
    margin: 0 15px;
}


@media (max-width: 600px){
    main {
        width: 350px;
        margin: auto;
    }

    header {
        height: 40px;
        font-size: x-large;
        padding: 0 30px;
        margin-bottom: 10px;
    }

    header button{
        width: 80px;
        height: 40px;
        font-size: medium;
    }

    .section-1 {
        height: 600px;
    }

    .section-5 {
        height: 500px;
    }

    .section-1 div,
    .section-5 div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-1 h1 {
        width: 80%;
    }

    .section-1 div input,
    .section-1 div button,
    .section-5 div input,
    .section-5 div button {
        width: 300px;
        height: 50px;
        margin: 5px 0;
        font-size: x-large;
    }

    .section-5 h2 {
        width: 70%;
        text-align: center;
        font-size: xx-large;
    }

    .section-2 {
        height: 700px;
        padding: 0;
        flex-direction: column;
    
    }

    .section-2 div {
        width: 70%;
        font-size: large;
    }

    .section-2 div p {
        font-size: large;
    }

    .section-2 div img {
        width: 60px;
    }

    .section-3 div,
    .section-3 div:nth-of-type(2){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-3 div img{
        width: 100%;
        height: 450px;
        object-fit: cover;
        object-position: left;
    }

    .section-3 div span {
        width: 200px;
        height: auto;
        font-size: large;
        margin: 30px 0;
    }

    .section-3 div span h2 {
        font-size: xx-large;
    }

    .section-4 {
        height: 1300px;
    }

    .section-4 div {
        flex-direction: column;
        justify-content: center;
        
    }

    .section-4 div span {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .section-4 h2 {
        font-size: 35px;
        text-align: center;
    }

    .section-4 div span p{
        width: 320px;
        font-size: large;
    }

    .section-4 div span img {
        width: 200px;
        margin-bottom: 10px;
    }

    footer {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        flex-wrap: wrap;
    }

    footer span {
        display: flex;
        justify-content: center;
    }

    footer div span:nth-of-type(1){
        flex-wrap: wrap;
        width: 250px;
    }
    

    footer div span:nth-of-type(1) p{
        font-size: 14px;
        margin: 5px 0;
    }

    footer div span:nth-of-type(1) img{
        width: 15px;
    }

    footer div span:nth-of-type(2) p{
        font-size: 12px;
    }

    footer div:nth-of-type(2) img{
        width: 35px;
    }
}